* {
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
}

*:hover
{
  text-decoration: none !important; 
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {  
  background-attachment: fixed !important;
  background-size: cover !important;
  background-position: center !important;
}
.app-mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(#000000, transparent, #000000);
  z-index: 1;
}

.todo-enter {
  opacity: 0;
  transform: translateY(-10px);
}
.todo-enter-active {
  opacity: 1;
  transition: opacity 300ms, transform 300ms;
  transform: translateY(0);
}
.todo-exit {
  opacity: 1;
  transform: translateY(10px);
}
.todo-exit-active {
  opacity: 0;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}
::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #c4c4c460 !important;
}
::-webkit-scrollbar-thumb:active {
  background-color: #c4c4c490 !important;
}
.toolbar-item-info-title {
  overflow: hidden;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}
.toolbar-item-info-description {
  overflow: hidden;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}
.create-btn
{
  border-radius: 50% !important;
  height: 60px !important;
  width: 60px !important;    
}
.create-btn svg
{
  transition: ease-in-out .4s;  
}

.create-btn:hover svg
{
  transform: rotate(-360deg);
}