* {
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
}

*:hover {
  text-decoration: none !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-attachment: fixed !important;
  background-size: cover !important;
  background-position: center !important;
}
.app-mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(#000000, transparent, #000000);
  z-index: 1;
}

.todo-enter {
  opacity: 0;
  transform: translateY(-10px);
}
.todo-enter-active {
  opacity: 1;
  transition: opacity 300ms, transform 300ms;
  transform: translateY(0);
}
.todo-exit {
  opacity: 1;
  transform: translateY(10px);
}
.todo-exit-active {
  opacity: 0;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}
::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #c4c4c460 !important;
}
::-webkit-scrollbar-thumb:active {
  background-color: #c4c4c490 !important;
}
* {
  scrollbar-color: transparent transparent !important;
  transition: scrollbar-color 0.3s ease;
}
*:hover {
  scrollbar-color: #c4c4c460 transparent !important;
}
.toolbar-item-info-title {
  overflow: hidden;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}
.toolbar-item-info-description {
  overflow: hidden;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}

.toolbar-item-info-description-init {
  display: initial !important;
}

.create-btn {
  border-radius: 50% !important;
  height: 60px !important;
  width: 60px !important;
}
.create-btn svg {
  transition: ease-in-out 0.4s;
}

.create-btn:hover svg {
  transform: rotate(-360deg);
}
.todo-creator-description {
  height: 120px;
  overflow: auto;
  padding: 0.5rem 1rem;
  outline: none;
  border: 1px solid #e5e7eb;
  border-radius: var(--chakra-radii-md);
}
.todo-creator-description:focus {
  border-color: var(--chakra-colors-blue-500);
  border-width: 2px;
}
.file-in::-webkit-file-upload-button {
  background-color: #2b6cb0;
  color: white;
  border-radius: 0.3em;
  padding: 0 1em;
  height: 30px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  font-weight: normal;
  font-size: 13px;
}

.file-in::-webkit-file-upload-button:hover {
  filter: brightness(0.9);
}

.file-in {
  cursor: pointer;
  font-weight: bold;
}
/* .sidebar {
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 50 50' style='enable-background:new 0 0 50 50%3B' xml:space='preserve'%3E%3Cstyle type='text/css'%3E.st1%7Bopacity:0.3%3Bfill:%23FFFFFF%3B%7D.st3%7Bopacity:0.1%3Bfill:%23FFFFFF%3B%7D%3C/style%3E%3Ccircle class='st1' cx='5' cy='8' r='1'/%3E%3Ccircle class='st1' cx='38' cy='3' r='1'/%3E%3Ccircle class='st1' cx='12' cy='4' r='1'/%3E%3Ccircle class='st1' cx='16' cy='16' r='1'/%3E%3Ccircle class='st1' cx='47' cy='46' r='1'/%3E%3Ccircle class='st1' cx='32' cy='10' r='1'/%3E%3Ccircle class='st1' cx='3' cy='46' r='1'/%3E%3Ccircle class='st1' cx='45' cy='13' r='1'/%3E%3Ccircle class='st1' cx='10' cy='28' r='1'/%3E%3Ccircle class='st1' cx='22' cy='35' r='1'/%3E%3Ccircle class='st1' cx='3' cy='21' r='1'/%3E%3Ccircle class='st1' cx='26' cy='20' r='1'/%3E%3Ccircle class='st1' cx='30' cy='45' r='1'/%3E%3Ccircle class='st1' cx='15' cy='45' r='1'/%3E%3Ccircle class='st1' cx='34' cy='36' r='1'/%3E%3Ccircle class='st1' cx='41' cy='32' r='1'/%3E%3C/svg%3E") !important;
  background-position: 0px 0px;  
  animation: animatedBackground 10s linear infinite;
}
@keyframes animatedBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0px 300px;
  }
} */

.wavy {
  border-bottom-width: 1.5px;
  border-bottom-color: red;
  border-bottom-style: dashed;
  color: red;
}
.folder-in {
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  overflow: hidden;
  flex: 1;
  -webkit-user-drag: none;
}

.folder-in-normal {    
  cursor: pointer;
  user-select: none !important;
}

.folder-in-focus {
  user-select: all !important;
  cursor: text;
  padding: .2em .5em !important;
  background-color: white !important;
  height: 1.9em !important;
  color: black !important;
  border: 1px solid #2b6cb0 !important;
}