@tailwind base;
@tailwind components;
@tailwind utilities;

body
{
    background-image: url("../../public/assets/bg.jpg") !important; 
    background-attachment: fixed !important;
    background-size: cover !important;
    background-position: center !important;
}
.app-mask
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(#000000, transparent, #000000);
    z-index: 1;
}